// Colors
$background: #42372d;
$color-on-photo: #ff8000;
$color: #d6ccc2;
$logo-title: #ff6961;
$link: #ffbd61;
$header-color: #fbf0d9;
$error: #ff4300;

//Border
$border-think--color: solid 1px $color;

//Width
$width-100: calc(100% - 20px);
